* {
    box-sizing: border-box;
}

:root {
    --very-light-grayish-blue: hsl(240, 78%, 98%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dark-grayish-blue: hsl(232, 13%, 33%);
}

@media (min-width: 376px){
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Montserrat";
        height: 100vh;
        width: 100%;
    }
    
    .price-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("https:///gitlab.com/mountblue/js/pricing-html-css/-/raw/master/images/bg-top.svg"), url("https:///gitlab.com/mountblue/js/pricing-html-css/-/raw/master/images/bg-bottom.svg");
        background-position: right top, left bottom;
        background-color: var(--very-light-grayish-blue);
        background-repeat: no-repeat;
        height: 95%;
        width: 95%;
        border-radius: 12px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .heading{
        font-size: 1.5rem;
        margin-bottom: 30px;
        color: var(--grayish-blue);
    }
    
    .year-check {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: var(--light-grayish-blue);
    }
    
    .sub-price-container {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 56px;
        height: 70%;
        width: 80%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    
    .basic-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        height: 75%;
        width: 30%;
    }
    
    .professional-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        border-radius: 7px;
        color: white;
        height: 81%;
        width: 30%;
    }
    
    .master-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        height: 75%;
        width: 30%;
    }
    
    .line {
        width: 75%;
        border-bottom: 0.01px inset var(--very-light-grayish-blue);
    
    }
    
    .button1 {
        background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        width: 70%;
        padding: 13px;
        font-size: 15px;
        color: white;
        border-radius: 10px;
        border: 0px;
    }
    
    .button1:hover {
        background: white;
        width: 70%;
        padding: 13px;
        font-size: 15px;
        color: hsl(237, 63%, 64%);
        border-radius: 10px;
        border: 0px;
    }
    
    .button2 {
        background: white;
        width: 70%;
        padding: 13px;
        font-size: 15px;
        color: hsl(237, 63%, 64%);
        border-radius: 10px;
        border: 0px;
    }
    
    .button2:hover {
        background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        width: 70%;
        padding: 13px;
        font-size: 15px;
        color: white;
        border-radius: 10px;
        border: 0px;
    }
    
    .dollar {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--grayish-blue);
        font-size: 45px;
        font-weight: 400;
    }
    
    .dollar2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 45px;
        font-weight: 400;
    }
    
    .dollar-size {
    
        font-size: 30px;
    }
    
    .text {
        color: var(--grayish-blue);
    }
    
    .error {
        margin-left: 18px;
    }
    
    input[type=checkbox] {
        visibility: hidden;
    }
    
    label {
        cursor: pointer;
        width: 80px;
        height: 40px;
        background: grey;
        display: block;
        border-radius: 30px;
        position: relative;
    }
    
    label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 40%;
        height: 70%;
        background: white;
        border-radius: 90px;
    
    }
    
    input:checked+label {
        background: hsl(237, 63%, 64%);
    }
    
}


@media (max-width: 375px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Montserrat";
        height: 100%;
        width: 100%;
    }

    .price-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("https:///gitlab.com/mountblue/js/pricing-html-css/-/raw/master/images/bg-top.svg"), url("https:///gitlab.com/mountblue/js/pricing-html-css/-/raw/master/images/bg-bottom.svg");
        background-position: right top, left bottom;
        background-color: var(--very-light-grayish-blue);
        background-repeat: no-repeat;
        height: 95%;
        width: 95%;
        border-radius: 12px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .heading{
        font-size: 1.5rem;
        margin: auto;
        line-height: 20px;
        margin-top: 20px;
        color: var(--grayish-blue);
    }
    

    .sub-price-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 35px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        height: 70%;
        width: 80%;
    }

    .basic-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 12px;
        height: 75%;
        width: 100%;
        margin-bottom: 16px;
    }

    .professional-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        border-radius: 12px;
        color: white;
        height: 75%;
        width: 100%;
        margin-bottom: 16px;
    }

    .master-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 12px;
        height: 75%;
        width: 100%;
        margin-bottom: 16px;
    }

    .line {
        width: 75%;
        border-bottom: 0.01px inset var(--very-light-grayish-blue);

    }

    .button1 {
        background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        width: 75%;
        font-size: 15px;
        color: white;
        border-radius: 10px;
        border: 0px;
        padding: 13px;
        margin-bottom: 16px;
    }

    .button1:hover {
        background: white;
        width: 75%;
        font-size: 15px;
        color: hsl(237, 63%, 64%);
        border-radius: 10px;
        border: 0px;
        padding: 13px;
        margin-bottom: 16px;
    }

    .button2 {
        background: white;
        width: 75%;
        font-size: 15px;
        color: hsl(237, 63%, 64%);
        border-radius: 10px;
        border: 0px;
        padding: 13px;
        margin-bottom: 16px;
    }

    .button2:hover {
        background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        width: 75%;
        font-size: 15px;
        color: white;
        border-radius: 10px;
        border: 0px;
        padding: 13px;
        margin-bottom: 16px;
    }

    .dollar {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--grayish-blue);
        font-size: 45px;
        font-weight: 400;
    }

    .dollar2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 45px;
        font-weight: 400;
    }

    .dollar-size {

        font-size: 30px;
    }

    .text {
        color: var(--grayish-blue);
    }

    .error {
        margin-left: 18px;
    }

    .year-check {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        height: 100%;
        width: 100%;
        color: var(--light-grayish-blue);
    }

    input[type=checkbox] {
        visibility: hidden;
    }

    label {
        cursor: pointer;
        width: 20%;
        height: 30px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
    }

    label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 30%;
        height: 20px;
        background: white;
        border-radius: 90px;
    }

    input:checked+label {
        background: hsl(237, 63%, 64%);
    }
}